.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 22.3rem;
  .body {
    padding: 30px 5.5rem;
    border: 2px solid #ededed;
    .layout-body {
    }
  }
}
